$color-white: #FFF;
$color-bright-grey: #F4F4F4;
$color-light-grey: #AAA;
$color-dark-grey: #333;
$color-green: #00B49A;

$border-width-small: 1px;

$margin-width-small: .5em;
$margin-width-normal: 1em;

$font-family-title: 'Source Serif Pro';
$font-family-content: 'Open Sans';
