.recipe-excerpt {
    background-color: $color-white;
    box-shadow: 0 0 0.5em $color-light-grey;
    margin: 0.5em;


    &__image {
        margin: 0;

        img {
            display: block;
            height: auto;
            width: 100%;
        }
    }

    &__content {

        padding: 1em 1em 0;

        &__title {
            margin-bottom: 0;
        }

        &__author {
            margin-bottom: $margin-width-normal;
        }

        &__excerpt {

            margin-bottom: 0;
            padding-bottom: $margin-width-normal;
        }
    }

    &__footer {

        padding: 1em;
    }
}
